{% spaceless %}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
	<head profile="http://dublincore.org/documents/dcq-html/">

		{% include "partials/header_metadata.twig" %}

		{# Stylesheets #}
		<link rel="stylesheet" href="{{ vanity.base_path }}/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ vanity.base_path }}/styles/app.css">
		<link rel="stylesheet" href="{{ vanity.base_path }}/bootstrap/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" href="{{ vanity.base_path }}/prettify/prettify.css">
		{% block styles %}{% endblock %}

	</head>

	<body data-spy="scroll" data-target="#navTracker" data-offset="100" itemscope itemtype="http://schema.org/WebPage">

		{% include "partials/primary_navigation.twig" %}

		<div id="description" class="container">

			{% include "partials/breadcrumbs.twig" %}

			<div class="row">

				{# Yield to an extending template #}
				{% block yield %}{% endblock %}

			</div>
		</div>

		<div id="bottom-spacer"></div>

		{# Scripts #}
		<script src="{{ vanity.base_path }}/jquery/jquery.1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{ vanity.base_path }}/jquery/jquery.easing.min.js" type="text/javascript" charset="utf-8" defer></script>
		<script src="{{ vanity.base_path }}/prettify/prettify.js" type="text/javascript" charset="utf-8" defer></script>
		<script src="{{ vanity.base_path }}/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8" defer></script>
		<script src="{{ vanity.base_path }}/scripts/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{ vanity.link.api_reference }}/typeahead.json" type="text/javascript" charset="utf-8" defer></script>
		{% block scripts %}{% endblock %}

		{% include "partials/social_scripts.twig" %}

	</body>
</html>
{% endspaceless %}
