{# Native methods #}
{% if native.methods %}
	{% set method_letters = native.methods|filter_by_letter %}

	<h2 id="native-methods">Native Methods ({{ native.count }})</h2>
	<div class="well">
		<dl class="letter-list">
			{% for nodes in method_letters %}
			<dt>{{ nodes.letter }}</dt>
			<dd>
				<ul>
				{% for node in nodes.nodes %}
					<li><a href="{{ vanity.link.api_reference }}/{{ json.full_name|namespace_as_path }}/{{ node.name }}.html">{{ node.name }}</a></li>
				{% endfor %}
				</ul>
			</dd>
			{% endfor %}
		</dl>
	</div>
{% endif %}
