{% if method.return %}
<h2 id="returns">Returns</h2>
<div class="well">
	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped">

		<thead>
			<tr>
				<th><p>Type</p></th>
				<th class="description"><p>Description</p></th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td class="parameter">

					{% if method.return.types %}
					{# Multiple return types #}
						{% for type in method.return.types %}
							{% if type|split('\\')|length > 1 %}
								<p><code><a href="{{ vanity.link.api_reference }}/{{ type|namespace_as_path }}/index.html">{{ type }}</a></code></p>
							{% elseif type %}
								<p><code>{{ type }}</code></p>
							{% else %}
								<p><code>mixed</code></p>
							{% endif %}
						{% endfor %}

					{% else %}
					{# Only a single return type #}
						{% if method.return.type and method.return.type|split('\\')|length > 1 %}
							<p><code><a href="{{ vanity.link.api_reference }}/{{ method.return.type|namespace_as_path }}/index.html">{{ method.return.type }}</a></code></p>
						{% elseif method.return.type %}
							<p><code>{{ method.return.type }}</code></p>
						{% else %}
							<p><code>mixed</code></p>
						{% endif %}
					{% endif %}
				</td>

				<td class="description">
					{% if method.return.description %}
						{{ method.return.description|markdown|raw }}
					{% else %}
						<p>{{ vanity.message.not_yet_implemented|raw }}</p>
					{% endif %}
				</td>

			</tr>
		</tbody>
	</table>
</div>
{% endif %}
