{% extends "base/base_class.twig" %}

{% block yield %}
	{{ description_as_html(json.description)|raw }}

	<table border="0" class="class-reference">
		<tbody>
			{% if json.inheritance %}
			<tr>
				<th><p>Inherits from</p></th>
				<td>
					<ul>
						{% for inherited in json.inheritance.class %}
							{% if inherited.path %}
								<li><a href="{{ vanity.link.api_reference }}/{{ inherited.namespace_as_path }}/index.html">{{ inherited.name }}</a></li>
							{% else %}
								<li>{{ inherited.name }}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</td>
			</tr>
			{% endif %}
			{% if json.implements %}
			<tr>
				<th><p>Implements</p></th>
				<td>
					<ul>
						{% for interface in json.implements.interface %}
							{% if interface.path %}
								<li><a href="{{ vanity.link.api_reference }}/{{ interface.namespace_as_path }}/index.html">{{ interface.name }}</a></li>
							{% else %}
								<li>{{ interface.name }}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</td>
			</tr>
			{% endif %}
			{% if json.traits %}
			<tr>
				<th><p>Traits</p></th>
				<td>
					<ul>
						{% for trait in json.traits.trait %}
							{% if trait.path %}
								<li><a href="{{ vanity.link.api_reference }}/{{ trait.namespace_as_path }}/index.html">{{ trait.name }}</a></li>
							{% else %}
								<li>{{ trait.name }}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</td>
			</tr>
			{% endif %}
			<tr>
				<th><p>Location</p></th>
				<td>
					<p>{{ json.path }}</p>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
